<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}  {% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('admin') }}/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('admin') }}/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('admin') }}/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('admin') }}/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{ asset('admin') }}/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('admin') }}/css/themes/all-themes.css" rel="stylesheet" />
    <link href="{{ asset('admin') }}/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{{ asset('admin') }}/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('admin') }}/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL,windowName,windowFeatures){
            window.open(windowURL,windowName,windowFeatures);
        }
    </SCRIPT>

    <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>

</head>

<body class="theme-red">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
        <i class="material-icons">close</i>
    </div>
</div>
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="{{ asset('admin') }}/index.html"></a>
        </div>

    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{{ asset('admin') }}/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}



                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ app.user.name }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('app_logout') }}"><i class="material-icons">input</i>Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
            {% else %}
            Login Yok
            {% endif %}

        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header"></li>
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="material-icons">home</i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">shopping_cart</i>
                        <span>Siparişler</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="{{ path('admin_orders_index', {'slug': 'new'}) }}">Yeni Sipariş</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_orders_index', {'slug': 'accepted'}) }}">Onaylanan Siparişler</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_orders_index', {'slug': 'cancelled'}) }}">İptal Edilenler</a>
                        </li>

                        <li>
                            <a href="{{ path('admin_orders_index', {'slug': 'inshipping'}) }}">Kargodakiler</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_orders_index', {'slug': 'completed'}) }}">Tamamlanan Siparişler</a>
                        </li>
                    </ul>
                        <li>
                            <a href="{{ path('admin_product_index') }}">
                                <i class="material-icons">apps </i>
                                <span>Ürünler</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_category_index') }}">
                                <i class="material-icons">view_compact</i>
                                <span>Kategoriler</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ path ('admin_user') }}">
                                <i class="material-icons">people_outline</i>
                                <span>Üyeler</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_messages_index') }}">
                                <i class="material-icons">message  </i>
                                <span>Mesajlar</span>
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('admin_setting_index') }} ">
                                <i class="material-icons">settings </i>
                                <span>Ayarlar</span>
                            </a>
                        </li>
        </div>
        <!-- #Menu -->
        <!-- Footer -->

        <!-- #Footer -->

    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->

    <!-- #END# Right Sidebar -->
    <!--CONTENT-->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

        {% block content %} {% endblock %}
        {% block body %} {% endblock %}

    </div></div></div></div>
</section>



<!-- Jquery Core Js -->
<script src="{{ asset('admin') }}/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="{{ asset('admin') }}/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="{{ asset('admin') }}/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="{{ asset('admin') }}/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="{{ asset('admin') }}/plugins/node-waves/waves.js"></script>

<!-- Custom Js -->
<script src="{{ asset('admin') }}/js/admin.js"></script>

<!-- Demo Js -->
<script src="{{ asset('admin') }}/js/demo.js"></script>
{% block javascripts %}{% endblock %}
</body>

</html>