{% extends 'base.html.twig' %}

{% block title %}Shopcart{% endblock %}

{% block body %}
    <h1>Shopcart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopcart.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ shopcart.userid }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ shopcart.productid }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ shopcart.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shopcart_index') }}">back to list</a>

    <a href="{{ path('shopcart_edit', {'id': shopcart.id}) }}">edit</a>

    {{ include('shopcart/_delete_form.html.twig') }}
{% endblock %}

