{% extends 'frontbase.html.twig' %}

{% block title %} Edit User {% endblock %}



{% block content %}


  <div class="container">
      <div class="col-md-4">
          {{ include('home/_usersidebar.html.twig') }}
      </div>
      <div class="col-md-8">
          <form class="form-vertical" method="post">
              <label for="email_address">Adı Soyadı</label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" name="name" value="{{ user.name }}" id="email_address" class="form-control" placeholder="Adı Soyadı">
                  </div>
              </div>
              <label for="email_address">Email</label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="email" name="email" value="{{ user.email }}"id="email_address" class="form-control" placeholder="Email">
                  </div>
              </div>
              <label for="password">Password</label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="password" name="password" value="{{ user.password }}" id="password" class="form-control" placeholder="Password">
                  </div>
              </div>
              <label for="password">Türü</label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" name="roles" value="{{ user.roles|join }}" disabled class="form-control">
                  </div>
              </div>
              <label for="password">Durum: </label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" name="status" value="{{ user.status }}" disabled class="form-control">
                  </div>
              </div>
              <label for="password">Adres: </label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" name="address" value="{{ user.address }}" id="password" class="form-control" placeholder="Adres">
                  </div>
              </div>
              <label for="password">Şehir: </label>
              <div class="form-group">
                  <div class="form-line">

                      <select name="city">
                          <option value="{{ user.city }}">{{ user.city }}</option>
                          <option value="İstanbul">İstanbul</option>
                          <option value="Ankara">Ankara</option>
                          <option value="İzmir">İzmir</option>
                          <option value="Adana">Adana</option>
                          <option value="Adıyaman">Adıyaman</option>
                          <option value="Afyonkarahisar">Afyonkarahisar</option>
                          <option value="Ağrı">Ağrı</option>
                          <option value="Aksaray">Aksaray</option>
                          <option value="Amasya">Amasya</option>
                          <option value="Antalya">Antalya</option>
                          <option value="Ardahan">Ardahan</option>
                          <option value="Artvin">Artvin</option>
                          <option value="Aydın">Aydın</option>
                          <option value="Balıkesir">Balıkesir</option>
                          <option value="Bartın">Bartın</option>
                          <option value="Batman">Batman</option>
                          <option value="Bayburt">Bayburt</option>
                          <option value="Bilecik">Bilecik</option>
                          <option value="Bingöl">Bingöl</option>
                          <option value="Bitlis">Bitlis</option>
                          <option value="Bolu">Bolu</option>
                          <option value="Burdur">Burdur</option>
                          <option value="Bursa">Bursa</option>
                          <option value="Çanakkale">Çanakkale</option>
                          <option value="Çankırı">Çankırı</option>
                          <option value="Çorum">Çorum</option>
                          <option value="Denizli">Denizli</option>
                          <option value="Diyarbakır">Diyarbakır</option>
                          <option value="Düzce">Düzce</option>
                          <option value="Edirne">Edirne</option>
                          <option value="Elazığ">Elazığ</option>
                          <option value="Erzincan">Erzincan</option>
                          <option value="Erzurum">Erzurum</option>
                          <option value="Eskişehir">Eskişehir</option>
                          <option value="Gaziantep">Gaziantep</option>
                          <option value="Giresun">Giresun</option>
                          <option value="Gümüşhane">Gümüşhane</option>
                          <option value="Hakkâri">Hakkâri</option>
                          <option value="Hatay">Hatay</option>
                          <option value="Iğdır">Iğdır</option>
                          <option value="Isparta">Isparta</option>
                          <option value="Kahramanmaraş">Kahramanmaraş</option>
                          <option value="Karabük">Karabük</option>
                          <option value="Karaman">Karaman</option>
                          <option value="Kars">Kars</option>
                          <option value="Kastamonu">Kastamonu</option>
                          <option value="Kayseri">Kayseri</option>
                          <option value="Kırıkkale">Kırıkkale</option>
                          <option value="Kırklareli">Kırklareli</option>
                          <option value="Kırşehir">Kırşehir</option>
                          <option value="Kilis">Kilis</option>
                          <option value="Kocaeli">Kocaeli</option>
                          <option value="Konya">Konya</option>
                          <option value="Kütahya">Kütahya</option>
                          <option value="Malatya">Malatya</option>
                          <option value="Manisa">Manisa</option>
                          <option value="Mardin">Mardin</option>
                          <option value="Mersin">Mersin</option>
                          <option value="Muğla">Muğla</option>
                          <option value="Muş">Muş</option>
                          <option value="Nevşehir">Nevşehir</option>
                          <option value="Niğde">Niğde</option>
                          <option value="Ordu">Ordu</option>
                          <option value="Osmaniye">Osmaniye</option>
                          <option value="Rize">Rize</option>
                          <option value="Sakarya">Sakarya</option>
                          <option value="Samsun">Samsun</option>
                          <option value="Siirt">Siirt</option>
                          <option value="Sinop">Sinop</option>
                          <option value="Sivas">Sivas</option>
                          <option value="Şırnak">Şırnak</option>
                          <option value="Tekirdağ">Tekirdağ</option>
                          <option value="Tokat">Tokat</option>
                          <option value="Trabzon">Trabzon</option>
                          <option value="Tunceli">Tunceli</option>
                          <option value="Şanlıurfa">Şanlıurfa</option>
                          <option value="Uşak">Uşak</option>
                          <option value="Van">Van</option>
                          <option value="Yalova">Yalova</option>
                          <option value="Yozgat">Yozgat</option>
                          <option value="Zonguldak">Zonguldak</option>
                      </select>
                  </div>
              </div>
              <label for="password">Telefon: </label>
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" name="phone"  value="{{ user.phone }}"  class="form-control" placeholder="Telefon">
                  </div>
              </div>



              <input type="hidden" name="token" value="{{ csrf_token('user-form') }}">
              <button type="submit" class="btn btn-primary m-t-15 waves-effect">KAYDET</button>

          </form>

      </div>
  </div>




{% endblock %}

